name: flutter_swipe_detector
description: A package to detect your swipe directions and provides you with callbacks to handle them.
version: 1.0.0
homepage: https://github.com/Baseflow/flutter_swipe_detector
documentation: https://github.com/Baseflow/flutter_swipe_detector

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter: